
  

	<div class="container" ng-controller="tempController">

		<div id="temp-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
					<b>Senddata</b>
						<!-- BIND THIS VALUE TO formData.data IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="1 or 0" ng-model="formData.data">
					</div>
					

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="sendData()">Add</button>
				</form>
			</div>
		</div>

		

	</div>